version: "3"
services:
  postgres:
    image: "postgres:latest"
    environment:
      - POSTGRES_PASSWORD=postgres_password
  nginx:
    depends_on:
      - api
      - client
    restart: always
    build:
      dockerfile: Dockerfile
      context: ./nginx
    ports:
      - "8081:8081"
  api:
    build:
      dockerfile: Dockerfile
      context: ./recipes-service
    environment:
      - "SPRING_PROFILES_ACTIVE=docker"
      - PGUSER=postgres
      - PGHOST=postgres
      - PGDATABASE=postgres
      - PGPASSWORD=postgres_password
      - PGPORT=5432
    ports:
      - "8080:8080"
  client:
    build:
      dockerfile: Dockerfile
      context: ./recipes-web
