@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  height: 100vh;
  background-color: #ffffff;
}

.icon-btn {
  cursor: pointer;
}

.icon-btn:hover {
  color: #2a43a8;
}
